<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="refresh" content="5">
	<title>Manage Admins</title>
    <link href="Css/like.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>

	<ul id="nav">
		<li><a href="manageChat.html">ניהול צ'אט</a></li>
		<li><a href="manageDB.html">נקה דטה בייס</a></li>
		<li><a href="users.html">משתמשים</a></li>
		<li><a href="rooms.html">חדרים</a></li>
		<li><a href="manageAdmins.html">מינוי מנהלים</a></li>
        <li><a href="files.html">קבצים</a></li> 
	</ul>
    </header>
	<a title="fun" href="/">
		<h1 id="top"></h1>		
	</a>
	<div class="resolution" >
		<div class="classname">
			<span class="options"> שלום עידו <img src="Photo/user.png" alt="user" style="width: 12px;"></span>
			<span class="options"><a href="simpleUser.html" class="options">צא</a></span>
		</div>
	</div>
	<div class="For_Text">
	<!--
		<ul id="manage">
			{% for user in users %}
				<li>{{ user }}</li>
				
			{% end %}
		</ul>
		!-->
		
	    <ul class="testTable">
            <div class="testHeader">
                <li class="testRow">
                    <span>username</span>
                    <span>options</span>
                </li>
            </div>
            <div class="testBody">
				{% for user in users %}	
                <li class="testRow">
                    <span>{{ user }}</span>
                    <span id="adminIcon"><a href="admin.html?name={{ user }}" class="possible">הפוך למנהל</a></span>


                </li>
				{% end %}

                </li>
            </div>
        </ul>

	</div>